:root{
--main-text-color:black;
--action-text-color:rgb(20, 179, 191);
--main-background-color:rgb(238, 238, 238);
--margin-size:10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color:var(--main-background-color) ;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
li{
  list-style: none;
}
.layout{
  background-color: bisque;
  min-width: 600px;
}
/* NAVBAR */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-background-color);
  padding: 10px;
}
.navbar .nav-item{
font-size: 1.1rem;
font-weight: 600;
margin: var(--margin-size);
}
.navbar .nav-item.active{
  color: var(--main-text-color);
}
/* TASK ITEM */
.task-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-background-color);
  padding: var(--margin-size);
  margin: var(--margin-size);
}
/* BUTTON */
.button{
  border: none;
  color: var(--action-text-color);
  cursor: pointer;
}

a{
  text-decoration: none;
  color:var(--action-text-color)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
