:root{
--main-text-color:black;
--action-text-color:rgb(20, 179, 191);
--main-background-color:rgb(238, 238, 238);
--margin-size:10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color:var(--main-background-color) ;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header{
  display: flex;
  margin: var(--margin-size);
}
li{
  list-style: none;
}
.layout{
  background-color: bisque;
  min-width: 600px;
}
/* NAVBAR */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-background-color);
  padding: 10px;
}
.navbar .nav-item{
font-size: 1.1rem;
font-weight: 600;
margin: var(--margin-size);
}

/* TASK ITEM */
.task-item-container{
  display: flex;
  background-color: var(--main-background-color);
  padding: 0 var(--margin-size);
  margin: var(--margin-size);
  align-items: center;
}
.task-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.task-item .checkbox{
  width: 10px !important;
}
.task-item .task-name{
  margin-left: var(--margin-size);
  flex-grow: 3;
  text-align: start;
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.task-item .task-status{
  text-align: start;
}
/* BUTTON */
.button{
  border: none;
  color: var(--action-text-color);
  cursor: pointer;
  margin: var(--margin-size) 0;
  border-radius: 5px;
  padding: var(--margin-size);
}
/* SEARCH  */
.search-container {
  padding: 10px;
  margin: 10px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

a{
  text-decoration: none !important;
  color:var(--action-text-color) !important
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
